@use 'src/constants';

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: constants.$breakpoint-md) {
    margin: 0 100px 150px 100px;
  }

  &__card-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
