.loading {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px 150px 100px;

  &__card-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
